/* larger css start */
@media screen and (min-width: 1025px) {
  
header > .contact-info{

  text-align: center;
  padding: 10px 20px;
  font-size: 1em;
}

header > .nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}


.nav-container nav ul{
  display: flex;
  list-style: none;
  justify-items: right;
}

.nav-container nav ul li{

 margin-left: 10px;
}

.nav-container nav ul li a{
  padding: 10px;
  text-decoration: none;
}

header > .closeable-message{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 10px 40px;
  font-size: 1em;
}

.closeable-message .close-btn{
  display: flex;
  font-size: 20px;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}


.closeable-message .close-btn:hover{
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}



.nav-toggle{
  display: none;
}

.hero{
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  background-image: url("../images/cozumel-background-big.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.dark-transparent{
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 30px;
  padding: 40px;
}

.hero-text{
  height: 173px;
 
}

.footer{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  justify-content: space-between;
  padding: 40px 60px;
  gap: 30px;
}

.footer .social-media > h2, .footer .footer-links > h2, .footer .footer-contact-info > h2{
  font-size: 20px;
  padding-bottom: 15px;
}

.social-media .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width :30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  margin-right: 10px;
}

.social-media .icon:hover{
  background-color: var(--secondary-color);
  color: #000;
}


.rental-services{
  padding: 30px 120px;
}

.rental-summary{
   display: grid;
   grid-template-columns: auto auto auto;
   gap: 20px;
}

.rental-services > h2 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 40px;
}

.rental-services .card {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.rental-services .card .description {
  padding: 20px 40px;
}

.rental-services .card .description h3 {
  padding-bottom: 10px;
}

.rental-services .card .description p {
  font-size: small;
}

/*contact*/
.contact {
  text-align: center;
  margin-bottom: 40px;
}

.contact > h2 {
  font-size: 35px;
  font-weight: 500;
  padding: 10px 25px;
}

.contact .social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.contact .social-media ul li {
  width: 40px;

  margin-left: 20px;
  border-radius: 4px;
}

.contact .social-media ul li:hover {

}

.contact-larger{
  display: flex;
  justify-content: center;
  padding: 0 120px;
}

.contact-form {
  width: 600px;
  height: 400px;
  padding: 30px 40px;
  text-align: left;
  background-color: var(--accent-color);
}

.contact-form label {
  display: block;
  text-align: left;
  padding: 5px 0;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 1px solid var(--primary-color);
}

.contact-form button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.contact-form button:hover {
    color: var(--secondary-color);
}


/*weather info*/
.weather-info {
  padding: 30px 120px;
}

.weather-info > h2 {
  font-size: 35px;
  font-weight: 500;
  padding: 10px 25px;
}

.weather-data{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 20px;
}

.weather-data .card{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
  height: 200px;
  text-align: center;
}


.weather-data .card h3{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1em;
  padding:15px;
}

.weather-data .card p{
   text-align: center;
   padding: 40px 15px 15px 0;
   font-size: 1.8em;
   font-weight:800;
}
#weather-condition{
  font-size: 1em;
  padding: 20px;
}

.weather-data .card img{
  text-align: center;
}
.map{
  text-align: center;
  padding: 80px 120px;
}
.map-container iframe{
  width: 100%;
  height: auto;
}

  /*rentals page */
  .rentals{
    padding: 60px 120px;
    min-height:620.25px;
 }

 .rentals > h2{
   font-size: 35px;
   font-weight: 500;
   text-align: center;
   margin-bottom: 20px;
}

.rentals-larger{
  display: flex;

}

.rentals .rentals-larger p{
   font-size: 1em;
   text-align: justify;
   margin-bottom: 20px;
   max-width: 600px;
   padding-right: 30px;
   line-height: 30px;
}

 .rentals-container {
   display: flex;
   flex-direction: column;
   width: 600px;
 }
 
 .rental {
   border: 1px solid #ccc;
   margin-bottom: 10px;
 }
 
 .rental-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #f2f2f2;
   padding: 10px;
 }
 
 .toggle-button {
   background-color: transparent;
   border: none;
   cursor: pointer;
   font-size: 30px;
   color: var(--accent3-color);
 }
 
 .toggle-button:hover {
  color: var(--secondary-color);
}

 .rental-name {
   font-size: 1em;
 }

 .rental-details {
   display: none; /* Initially hide details */
 }
 
 .rental-image{
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .rental-image img {
   max-width: 100%;
 }
 
 .rental-description table {
   width: 100%;
 }
 
 .rental-description table td {
   padding: 5px;
   border-bottom: 1px solid #ccc;
 }
 


 /*reservation*/
.reservations-container {
  display: flex;
  justify-content: center;
  padding: 40px 120px;
}

.agreement{
  width: 600px;  
  padding: 0 20px;
}
.agreement > h2 {
  font-size: 25px;
  font-weight: 500;
  padding: 40px 25px;
}

.agreement ul li {
  font-size: 1em;
  text-align: justify;
  line-height: 30px;
}

.agreement ul li span {
  text-align: left;
}


.reservation-form {
  width: 600px;
}
.reservation-form form {
   padding: 20px;
}

.reservation-form{
  border: 1px solid #ccc;
}

.reservation-form form  > h2{
  font-size: 25px;
  font-weight: 500;
  padding: 20px 40px 25px;
}



}
