:root{
    --primary:#524632;
    --secondary: #E6E6EA;
    --accent: #4DA1A9;
    --accent-2: #4DA1A9;
    --accent-3: #96616B;
}
*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body{
    background-color:#eee;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    max-width: 100vw;
}
header{
   padding: 20px 30px;
    text-align: center;
    background-color: var(--primary);
    color:var(--secondary);
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
}

header >h1{
    font-size: 1.5em;
    font-weight: 500;
    padding-top: 10px;
}
main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    max-width:100vw;
    padding: 50px;
    row-gap: 20px;
}
.card{
    border-radius: 15px;
    background-color: var(--secondary);
    width: 100%;
    height: fit-content;
}
.card article h3 {
    margin: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 1.0em;   
}
.card article p {
    padding: 20px; 
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}

.card article p img{
   width: 100%;
   height: 400px;
}

ul li{
    padding-left: 20px; 
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: var(--primary);
    padding: 10px;
}
footer >p{
    color: var(--secondary);
    text-align: center;
    font-size: 1.0em;
}


@media screen and (min-width: 601px) and (max-width: 1024px){
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "item1 item2"
        "item3 item4";
        padding-left: 10vw;
        padding-right: 10vw;
        column-gap: 20px;
    }

    header >h1{
        font-size: 2em;
        padding: 10px;
    }

    footer >p{
        text-align: center;
        font-size: 1.5em;
        padding: 10px;
    }

    .card{
        place-self: start;
        box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
        height: 250px;
    }

    
}

@media screen and (min-width: 1025px){
    main{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "item1 item2 item3"
            "item6 item6 item6"
            "item4 . item5"
            ;
        padding-left: 10vw;
        padding-right: 10vw;
        column-gap: 20px;
    }
    .card{
        place-self: start;
        box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
        height: 250px;
    }
    .item1{
        grid-area: item1;
    }
    .item2{
        grid-area: item2;
    }
    .item3{
        grid-area: item3;
    }
    .item4{
        grid-area: item4;
    }
    .item5{
        grid-area: item5;
    }
    .item6{
        grid-area: item6;
        place-self: center;
        height: 500px;
    }
}