:root {
  --primary: #524632;
  --secondary: #e6e6ea;
  --accent: #4da1a9;
  --accent-2: #4da1a9;
  --accent-3: #cc3f59;
}

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  background-color: #e6e6ea;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  max-width: 100vw;
}
/* section header start */
header {
  display: grid;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 10px 20px;
  position: fixed;
  width: 100vw;
  will-change: transform;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper img {
  width: 30px;
  height: auto;
}

nav {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  line-height: 40px;
  display: none;
}

nav a {
  color: var(--secondary);
}

.button-wrapper button {
  border: 0;
  background-color: transparent;
  color: var(--secondary);
}

.button-wrapper button#closeNav {
  display: none;
}

a {
  text-decoration: none;
}

nav a:hover {
  background-color: var(--accent-3);
  color: var(--secondary);
}
/* section header ends */

/* section hero banner start*/
.hero-banner {
  background-color: #000;
  color: #fff;
  background-image: url("/wdd230/chamber/images/ekiti-hero-image.jpg");
  height: fit-content;
}

.hero-banner .hero-image {
  max-width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-top: 100px;
}

.hero-banner .hero-image h1 {
  text-align: center;
  height: fit-content;
  padding: 10px;
  font-size: 1.5em;
}

.hero-banner .hero-image a {
  text-align: center;
  color: #fff;
  background-color: var(--accent-3);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 35px;
}

.hero-banner .hero-image a:hover {
  background-color: var(--primary);
}
/* section hero banner ends*/

footer .more-nav {
  background-color: var(--primary);
  padding: 10px 70px;
  color: #fff;
  text-align: center;
}
footer .author {
  background-color: var(--accent-3);
  padding: 10px 70px;
  color: #fff;
  text-align: center;
  line-height: 30px;
}

.main-content {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  padding: 40px 10px;
}

.card {
  padding: 20px;
  border-radius: 20px;
  background-color: #222;
  color: #fff;
  box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.1);
}

/* Dark mode color scheme */
.dark-mode .card {
  background-color: #fff;
  color: #222; 
}

/* Dark mode color scheme */
.light-mode .card {
  background-color: #222;
  color: #fff; 
}

.switch {
  position: fixed;
  width: 60px;
  height: 34px;
  z-index: 9000;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary);
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--accent);
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--accent-2);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-2); /* Change to accent-2 color */
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--accent-3); 
}


  .switch {
    left: calc(100vw - 70px);
    top: calc(10vh - 10px); 
  }

