/* larger css start */
@media screen and (min-width: 1025px) {
  header {
    display: grid;
    padding: 10px 70px;
    grid-template-columns: 1fr 1fr;
  }
  .hero-banner {
    background-image: url("/wdd230/chamber/images/hero-image-large.webp");
    /* background-image: url("/chamber/images/hero-image-large.webp");  */
    width: 100vw;
    height: 800px;
  }
  nav {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    justify-self: end;
  }

  nav a {
    color: var(--secondary);
    padding: 0 10px;
  }

  .button-wrapper button {
    border: 0;
    background-color: transparent;
    color: var(--secondary);
  }

  .button-wrapper button#closeNav {
    display: none;
  }
  .button-wrapper button#openNav {
    display: none;
  }
  .hero-banner .hero-image {
    padding: 70px;
  }
  .hero-banner .hero-image h1 {
    font-size: 5em;
    height: fit-content;
  }
  .hero-banner .hero-image a {
    font-size: 2em;
    margin-bottom: 45px;
  }

  .home-main {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    padding: 40px 90px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "item-1 item-1 item-2"
      "item-3 item-3 item-3";
  }

  .home-main :nth-child(1) {
    grid-area: item-1;
  }
  .home-main :nth-child(2) {
    grid-area: item-2;
  }
  .home-main :nth-child(3) {
    grid-area: item-3;
  }
  .card {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.1);
  }

  /* .switch {
    left: 94vw;
    top: 10vh;
  } */

  footer > .address-wrapper {
    padding: 40px 0px;
    flex-direction: row;
    justify-content: space-around;
  }

  footer > .address-wrapper > :nth-child(1) {
    flex-direction: row;
    margin-bottom: 0;
  }

  .address-wrapper > :nth-child(1) > img {
    width: 90px;
    height: auto;
  }

  /*** discover style***/
  .discover-main {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
  }
  .discover-main .side-bar {
    width: 100%;
    min-height: 70vh;
  }

  .discover-main .main-content {
    width: 100%;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 300px;
  }

  .discover-main .main-content .img-card {
    width: 100%;
    /* height: 250px; */
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  .img-card:hover.img-card {
    background-color: #000;
    transition: background 2s ease-in-out;
  }
  .img-card:hover > img {
    text-align: center;
    margin-top: 70px;
    transition: margin-top 2s ease-in-out;
  }
  .img-card:hover.img-card {
    background-color: #000;
    transition: background 2s ease-in-out;
  }
  .img-card:hover > img {
    text-align: center;
    margin-top: 70px;
    transition: margin-top 2s ease-in-out;
  }

  .img-card:hover > p {
    display: none;
  }

  .img-card p {
    font-size: 0.9em;
    padding: 5px;
  }

  .side-bar {
    padding: 20px 0;
    padding-left: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .side-bar-card {
    padding: 10px 6px;
    background-color: #fff;
    margin-bottom: 20px;
    width: 100%;
  }
  .side-bar-card h1 {
    font-size: 1em;
    text-align: center;
    border-bottom: 1px solid #d1d0d0;
  }
  .side-bar-card a {
    display: block;
    line-height: 1.5;
  }

  .we-have {
    padding: 20px 20px;
    text-align: center;
    font-size: 1.5em;
  }
  /*** discover style***/

  /* main  start here */
  .join-main {
    padding: 40px 10%;
  }
  /* main  ends here */
  /* title wrapper ends here */
  .title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .title-wrapper > div h1 {
    padding-left: 20px;
    font-size: 1.5em;
  }
  /* title wrapper ends here */

  .form-wrapper {
    padding: 50px 40px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 20px;
  }

  .level-description-wrapper {
    display: inline-block;
    /* background-color: aqua; */
  }

  /*thank you start */
  .thankyou-main {
    padding: 50px 70px;
    background-color: #fff;
  }
  .thankyou-main > div > h1 {
    font-size: 1.9em;
  }
}

